@if (resetToken()) {

<app-reset-password [token]="resetToken()" (resetSubmit)="resetPassword($event)"></app-reset-password>

} @else {

@if (!authCompleted()) {

@if (!showVerify()) {

@if (showForgotPassword()) {

<app-forgot-password (forgotSubmit)="forgetPassword($event)" (backToLogin)="openLogin()"></app-forgot-password>

@if (forgotPasswordSent()) {

  <div class="reset-success-overlay">

    <div class="reset-success-modal">

      <div class="success-icon">
        ✓
      </div>

      <h2>Check Your Email</h2>

      <p>
        A password reset link has been sent to your email.
      </p>

      <button type="button" (click)="openLogin()">
        Back to Login
      </button>

    </div>

  </div>

}

@if (forgotPasswordError()) {
<p class="error-message">
  {{ forgotPasswordError() }}
</p>
}

} @else {

@if (!showLogin()) {

<app-register [registerError]="registerError()" (registerSubmit)="registerUser($event)"
  (showLogin)="openLogin()"></app-register>

}

@if (showLogin()) {

<app-login (loginSubmit)="loginUser($event)" (showRegister)="openRegister()" (forgotPassword)="openForgotPassword()"
  [loginError]="loginError()" (errorClosed)="loginError.set('')" [loginSuccess]="loginSuccess()"
(continueLogin)="continueAfterLogin()"></app-login>

}

}

}

@if (showVerify()) {

<app-verify-email [verifyError]="verifyError()" (verifySubmit)="verifyEmail($event)"
  (resendRequested)="resendVerification()" (errorClosed)="verifyError.set('')"></app-verify-email>

}

}

}