<nav class="navbar">

    <!-- LEFT: LOGO -->
    <a class="navbar-brand" routerLink="/">

        <span class="train-icon">
            🚆
        </span>

        <span class="step">
            STEP
        </span>

        <span class="trains">
            TRAINS
        </span>

    </a>
    <button class="menu-toggle" type="button" (click)="toggleMenu()" aria-label="Open navigation menu">
        ☰
    </button>


    <!-- CENTER: NAVIGATION -->
    <div class="navbar-links">

        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            Home
        </a>

        <a routerLink="/trains" routerLinkActive="active">
            Trains
        </a>

    </div>


    <!-- RIGHT: AUTH -->
    <div class="navbar-auth">
        <button class="theme-toggle" (click)="themeService.toggleTheme()" type="button">

            @if (themeService.isLightMode()) {
            🌙
            } @else {
            ☀️
            }

        </button>

        @if (!authService.isLoggedIn()) {

        <button class="sign-in" (click)="goLogin()">
            Sign In
        </button>

        <button class="get-started" (click)="goRegister()">
            Get Started
        </button>

        }

        @if (authService.isLoggedIn()) {

        <button class="sign-in" (click)="goProfile()">
            My Profile
        </button>

        }

    </div>

</nav>

@if (menuOpen()) {
    <div class="mobile-menu">
  
      <a routerLink="/" (click)="toggleMenu()">
        Home
      </a>
  
      <a routerLink="/trains" (click)="toggleMenu()">
        Trains
      </a>
  
      <button
        class="mobile-theme"
        type="button"
        (click)="themeService.toggleTheme()">
  
        @if (themeService.isLightMode()) {
          🌙 Light / Dark
        } @else {
          ☀️ Light / Dark
        }
  
      </button>
  
      @if (!authService.isLoggedIn()) {
  
        <button
          class="mobile-auth-button"
          (click)="goLogin(); toggleMenu()">
          Sign In
        </button>
  
        <button
          class="mobile-get-started"
          (click)="goRegister(); toggleMenu()">
          Get Started
        </button>
  
      }
  
      @if (authService.isLoggedIn()) {
  
        <button
          class="mobile-auth-button"
          (click)="goProfile(); toggleMenu()">
          My Profile
        </button>
  
      }
  
    </div>
  }